/*List Content Elements*/

li.content {
	background-color: #fafafa;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	-webkit-transition: all 0.25s ease;
}

li.content:nth-child(2n) {
	background-color: #f6f6f6
}

.group-items {
	list-style: none;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
	margin-bottom: 8px;
	padding: 0px;
	padding-left: 36px;
	padding-bottom: 4px;
	border-bottom: 1px solid #eee;
}

/*Links*/

a.content {
	display: block;
	padding: 6px 12px;
	margin:4px;
	color: #000;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	-webkit-transition: all 0.25s ease;
}

a.content:hover {
	background-color: rgba(66, 139, 202, .4);
	text-decoration:none;
}

.description {
	font-weight: bold;
	padding: 0;
	margin: 0;
	text-shadow: none;
	color: #999;
	font-size: 11px;
}

.handle-link {
	margin-right: 10px;
	padding: 6px 12px;
	float: right;
}

.nav-links li a {
	background-color: rgba(66, 139, 202, 1);
	color: white;
	display: block;
}

/*Headers*/

h5 {
	font-size: 16px;
}

h4 {
	padding: 0 0 6px 0;
	margin: 0;
	font-size: 24px;
}

h3 {	
	border-bottom: 1px solid #eee;
	padding-bottom: 8px;
	margin-bottom: 8px;
}

/*Before Content Listings*/

.top-heading {
	border: 0;
}

.parentheses {
	font-size: 0.8em;
	margin-bottom: 1.875em;
	line-height: 1.875em;
}

.alpha {
	font-size: 18px;
}

.letter {
	float: left;
	font-size: 24px;
}


/*Navbar*/

.navbar a.username{
	padding: 6px;
	color: #428BCA;
	font-size: 16px;
	font-weight: bold;

}

.navbar {
	background-color: #222;
	border-bottom: 5px solid #428BCA;
	color: white;
	padding: 10px 10px 0px 10px;
	border-radius: 0px;
}

.navbar ul, li {
	list-style-type: none;
}

.navbar a {
	color: white;
}

.nav-tabs{
	border: 0px;
}

.nav-tabs a:hover {
	color: #428BCA;
	border-bottom: 0px;
}

.nav-tabs a {
	background-color: rgba(66, 139, 202, 1);
}

.account-links {
	float: right;
	vertical-align: top;
}

a.signout {
	color: white;
}

a.signout:hover {
	color: #428BCA;
	text-decoration: none;
}

/*Project Information Container*/

.project {
	background-color: rgba(66, 139, 202, .3);
	margin: 25px 25px;
	margin-left: 0px;
	padding: 10px;
	/*border: 3px solid #C0C0C0;*/
	width: 80%;

	-moz-box-shadow:    0 0 15px 2px rgba(0,62,92,.5);
  	-webkit-box-shadow: 0 0 15px 2px rgba(0,62,92,.5);
  	box-shadow:         0 0 15px 2px rgba(0,62,92,.5);
}

.project.individual {
	margin-left: 45px;
}

.project h3 {
	border-bottom: none;
	margin: 10px;
	padding: 0px;
}

.project-data {
	float: right;
}

.like {
	float: right;
	font-weight: normal;
	font-size: 16px;
}

.project-description {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 15px;
	font-weight: bold;
}

.project, .attribute-section	{
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
}

aside {
	float: right;
	padding: 0px 40px 40px 40px;
	font-size: 18px;
	margin-top: 20px;
}

/*Account*/

.account-section {
	margin-top: 20px;
	padding: 10px;
	width:85%;
	background-color: rgba(66, 139, 202, .3);
	box-shadow: 0 0 15px 2px rgba(0,62,92,.6);
	border-radius: 16px;
}

.account-section h3 {
	border: none;
	margin: 0px;
	padding: 0px;
}

.account-section .attribute-section {
	text-align: center;
}

.account-section .attribute{
	padding-left: 15%;
	padding-right: 15%;
}

.favorite-projects {
	font-size: 16px;
}

#id_receive_news {
background-color: red;
}

#id_email {
	width:80%;
}

input[type="checkbox"] {
    display:inline-block;
}

.form-section input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 0px;
  margin: 0px;

}

/*Attributes*/

.attribute-section {
	background-color: white;
	color: black;
	margin: 15px;
	padding: 15px 15px;
	width: 97%;
	text-align: justify;
}

.attribute-section div {
	display: inline-block;
	list-style: none;
}

.attribute-section:after{
	content: '';
	width: 100%; 
	display: inline-block;
}

.attribute-section div:first-child {
	text-align: left;
/*	color: red;*/
}

.attribute-section div:last-child {
	text-align: right;
}

.attribute-section h5 {
	font-size: 20px;
}

.attribute-section {
	font-size: 16px;
}

.glyphicon-heart {
	opacity:0.4;
	color: red;
	font-size: 18px;
}

/*Footer*/

.footer a {
	color: #ddd;
	text-decoration: none;
}

.footer li {
	list-style: none;
}

.footer {
	color: #fff;
	padding: 10px 0px 0px 0px;
	background-color: #222;
	border-top: 5px solid #428BCA;
	vertical-align: baseline;
	height: 100%;
	display: inline-block;
	width: 100%;
}

.footer-element {
	float: left;
	margin-left: 14%;
}

.footer ul {
	padding-left: 0px;
}

html, body {
    margin: 0;
    height: 100%;
}

/*Edit/Suggest Project*/

.form-container {
	text-align: center;
	padding: 30px;
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.project-form {
	padding-top: 10px;
	background-color: rgba(66, 139, 202, .15);
	box-shadow: 0 0 15px 2px rgba(0,62,92,.5);
	border-radius: 16px;
}

.project-form input, textarea {
	text-align: center;
	height: 30px;
	padding: 5px 16px 10px 16px;
	margin: 5px 10px 10px 10px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
	border: 1px solid gray;
}

.project-form textarea {
	height: 75px;
}

.project-form h5 {
	font-size: 18px;
}

.form-section {
	border-bottom: 1px solid rgb(168,168,168);
}

.form-section h5 {
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 5px;

}

.project-form input[type="submit"] {
	background-color: rgba(66, 139, 202, 1);
	color: white;
	height: 35px;
	width: 45%;
}





